.dashboardContainer {
  margin: 0px;
}
.dashInputContainer {
  height: 230px;
  border-radius: 40px;
  margin-left: 20px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.userInfos {
  font-size: 15px;
  line-height: 0px;
  color: #000000;
  font-weight: 500;
}
.selectInput {
  width: 150px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid black;
}
.progressBar {
  background-color: #0c854c;
  border-radius: 10px;
  text-align: center;
  color: white;
  height: 32px;
  display: flex;
  align-items: center;
  width: 60%;
}
.userInfosContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.SubButton {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #003169;
  color: white;
  border-width: 0px;
}
.pichartContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.chartsContainer {
  margin: 20px;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 7px 16px 0px;
}
.chartStatuses {
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  font-weight: 500;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 0px;
  height: 32px;
}
.seeMoreButton {
  display: block;
  margin: auto;
  color: #003169;
  background-color: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.bgDark {
  background-color: black;
  height: 100vh;
}
.bgLight {
  background-color: #ffffff;
  height: 100vh;
}
